body { 
    background-color: #EAF6F6;
 }
 hr {
     border-style: none;
     border-top-style: dotted;
     border-color: gray;
     border-width: 5px;
     width: 5%;
 }
img {
 height: 200px;
 border-radius: 50%;
}

h1 {
    color: #2a8989;
}

h3 {
    color: #66BFBF;
}
